.l-main-header {
  height: @height-header;
  background: #fff;
  border-bottom: 1px solid @color-split;

  a {
    color: #333;
    text-decoration: none;
    &:hover {
      color: @color-link;
    }
  }
  .logo {
    height: @height-header;
    line-height: @height-header;
  }
  .logo, .project-selector, .project-search {
    float: left;
  }
  .project-search {
    margin-left: 30px;
    line-height: @height-header;
  }
  .header-menu > li > a {
    line-height: @height-header;
  }
  .l-main-header__project-nav {
    margin-left: 30px;
    float: left;
  }
  .l-main-header__user-nav {
    float: right;
  }
}
