extends ../../layouts/main
block content
  .container
    .columns
      .column.one-third
        nav.sidebar-menu
          a.is-active.sidebar-menu__item(href='/projects/#{currentProject.id}/settings') Settings
          a.sidebar-menu__item(href='/projects/#{currentProject.id}/teams') Teams
      .column.two-thirds
        .panel
          h3 Settings
          .panel__content
            form.form.form--stacked(method='post', action='/projects/#{currentProject.id}')
              +form_method('patch')
              .form__group
                label(for='projectName') Project Name
                input#projectName(type='text', name='name', value='#{currentProject.name}')
              .form__group
                button.button.button--primary(type='submit') Rename
