doctype html
html
  head
    meta(charset='utf-8')
    title WikiLab
    link(href='/build/styles/index.css', media='all', rel='stylesheet', type='text/css')
  body
    block header
      include ../includes/header
    block content
    block footer
      include ../includes/footer
    block scripts
      script(src='/build/scripts/index.js')
