doctype html
html
  head
    meta(charset='utf-8')
    title Launchpad - WikiLab
    link(href='/build/styles/index.css', media='all', rel='stylesheet', type='text/css')
  body.simple
    header.l-simple-header
      .container.container--narrow
        .logo WikiLab
    block content
    block scripts
      script(src='/build/scripts/index.js')
