.form {
}

.form--stacked {
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  input[type="text"], textarea {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }

  textarea {
    resize: vertical;
  }
}

.form__upload-input {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  > input[type="file"] {
    cursor: pointer;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    opacity: 0;
    font-size: 50px;
    z-index: 99;
  }
}
