extends base

block body
  include ../mixins/modal
  include ../mixins/alert
  include ../mixins/form_method
  block header
    include ../includes/header
  +alert(flash)
  #pjaxContainer
    block content
  block footer
    include ../includes/footer
block scripts
  script(src='/build/scripts/app.js')
  script.
    var currentProjectId = !{JSON.stringify(currentProject.id)};
