extends base

block body
  header.l-simple-header
    .container.container--narrow
      .logo.logo--header.pull-left
        a(href='/') Doclab
      block menu
        ul.header-menu.pull-right
          li.header-menu__item.js-menu__container
            a.js-menu__target(href='#')
              img.avatar(src="#{me.avatar}", alt='#{me.name}')
            ul.header-menu__submenu.js-menu__content
              li
                a(href='/account') Profile
              li
                a(href='/settings') Settings
              li
                a(href='/account') Sign out
  .container.container--narrow
    block content

block scripts
  script(src='/build/scripts/app.js')
