header.l-main-header
  .container
    h1.logo
      a(href='/') WikiLab
    .project-search
      form(action='/search', method='get')
        input(type='text', placeholder='Search', tabindex='1', autocapitalize='off')
    ul.header-menu.l-main-header__project-nav
      li.header-menu__item
        a.header-menu__title(href='/launchpad') #{currentProject.name}
        ul.header-menu__meta
          li
            a(href='/projects/#{currentProject.id}/settings')
              span.header-menu__icon.docicon.docicon-setting
    ul.header-menu.l-main-header__user-nav
      li.header-menu__item
        a(href='/teams', title='Teams')
          span.header-menu__icon.docicon.docicon-team
      li.header-menu__item.js-menu__container
        a.js-menu__target(href='#', title='Notifications')
          span.header-menu__icon.docicon.docicon-notification
        ul.header-menu__submenu.js-menu__content
          li
            a(href='/account') Profile
          li
            a(href='/account') Settings
          li
            a(href='/account') Sign out
      li.header-menu__item.js-menu__container
        a.js-menu__target(href='#')
          img.avatar(src="https://d13yacurqjgara.cloudfront.net/users/117819/avatars/original/profile.jpg?1346766958", alt='#{me.name}')
        ul.header-menu__submenu.js-menu__content
          li
            a(href='/account') Profile
          li
            a(href='/settings') Settings
          li
            a(href='/account') Sign out
